*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
body{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background-color: rgb(52, 50, 50); 
}
.container{
    position: relative;
}
.clock{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(6, 114, 228,0.2);
    border: 2px solid greenyellow;
    box-shadow: 0 0 30px rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
} 
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 3px;
    height: var(--h);
    border-radius: 10px;
}